/*estilizando index.html Home*/
body {
    margin: 0;
    background-color: rgb(151, 189, 247);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}
.headerhome {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, 1fr); /* Alter para ter x linhas */
    background-image: url(noronha.jpg);
    background-size: cover;
    color: #fff;
    padding: 10px;
    align-items:center;
    height: 600px;
        }

    .logo {
        grid-column: 1 / span 1;
        grid-row: span 1; /* Ajustado para ocupar x linhas */

    }
    
    .menu {
        grid-column: 2 / span 1;
        grid-row: span 1; /* Ajustado para ocupar x linhas */
        text-align: right;
        margin-right: 20px;
    }
    
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .menu li {
        display: inline-block;
        margin-left: 20px;
    }
    
    .menu a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
    
    #titulo {
        grid-column: 1 / span 2;
        grid-row: span 2; /* Ajustado para ocupar x linha */
        text-align: center;
        margin: 20px 0;
        }

    .logo {
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 50%;
    }


section {
    color: blue;
    text-align: center;
    font-size: medium;
    
}

.coluna{
    float: left;
    padding: 18px;


}

footer {
    color: blue;
    text-align: center;
    font-size: 15px;

}

/*estilizando o cruzeiro*/
.headercruzeiro {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, 1fr); /* Alter para ter x linhas */
    background-image: url(img/cruzeiro1.jpg);
    background-size: cover;
    color: #fff;
    padding: 10px;
    align-items:center;
    height: 600px;
    color: #072658;
        }

/*estilizar a resort*/

.headerresort {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, 1fr); /* Alter para ter x linhas */
    background-image: url(resort_1.jpg);
    background-size: cover;
    color: #fff;
    padding: 10px;
    align-items:center;
    height: 600px;
        }


/*estilizando o contato*/
.formulario {
    
    min-width: 100vh;
    display: grid;
    place-items:center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}
form {
    width: 100%;
    max-width: 20rem;
    }

label,
input,
textarea,
button {
    display: block;
}

input,
textarea,
button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}
input,
textarea {
    margin-bottom: 1rem;
    color: white;
    background: #1d90f5;
    border: 0.125rem;
    transition: border-color 0.3s;
    box-shadow: 0.3s;

}

input :hover,
input :focus
textarea :hover,
textarea :focus {
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.325rem #26344a;
}
label {
    margin-bottom: 0.5rem;
    color: aliceblue;
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}
button {
    border: none;
    border-radius: 99px;
    color: white;
    background: #1d90f5;
    cursor: pointer;
    transition: 0.3s;
}
button :hover,
button :focus {
    outline: none;
    background: #1c70d3;
    
}
